body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
}

#currentFish {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.currentFishWrap {
    width: 90%;
    margin: 0 5%;
    padding-top: 80px;
}

.toolbar {
    width: 90%;
    padding: 20px 5%;
    background: #CCC;
    position: fixed;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid #e74c3c;
    border-left: 2px solid #e74c3c;
}

.point.fish {
    border-top: 2px solid #98FF00;
    border-left: 2px solid #98FF00;
}

#loading {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
