/*! normalize.css v1.1.2 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0;
    background: #FFADAD;
    color: #000;
    padding: 0.4em 0;
    text-align: center;
}

.chromeframe a {
    color: blue;
}


/* ==========================================================================
   THE FUN STUFF
   ========================================================================== */

body, html {
    overflow: visible;
    height: 100%;
    width: 100%;
    background: #999;
}

body.waiting {
    overflow: hidden;
}

button:focus {
    outline: none;
}

.splash {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #333 url(../img/logo.png) no-repeat center center;
    background-size: 90%;
    text-align: center;
    color: #FFF;
}

.splash p {
    margin-top: 330px;
    font-size: 20px;
}

.splash a {
    color: #FFF;
    text-decoration: none;
}

.header {
    height: 64px;
    width: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header img {
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 25px;
}

.main {
    width: 94%;
    margin: 74px 3% 0 3%;
    color: #CCC;
    text-align: center;
    overflow: visible;
}

.main .post {
    color: #333;
    text-align: left;
    font-size: 14px;
    padding: 10px 10px 20px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    margin-bottom: 10px;
    background: #FFF;
    overflow: hidden;
    -moz-box-shadow: 0 2px 8px -4px #000;
    -webkit-box-shadow: 0 2px 8px -4px #000;
    box-shadow: 0 2px 8px -4px #000;
}

#more-content .post {
    padding: 15px 10px;
    background: #FFF url(../img/arrow.png) no-repeat 280px center;
    background-size: 10px;
}

#weather-content p {
    width: 75%;
}

#weather-content .showers {
    width: 60px;
    height: 57px;
    background: url(../img/sprites.png) -160px -64px no-repeat;
    display: block;
    background-size: 600px;
    position: absolute;
    top: 10px;
    right: 5px;
}

#weather-content .cloudy {
    width: 60px;
    height: 57px;
    background: url(../img/sprites.png) -7px -117px no-repeat;
    display: block;
    background-size: 600px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.post h4, .post p {
    margin: 0;
}

.post span {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 11px;
}

.post img {
    width: 120%;
    max-width: none;
    margin-left: -10%;
    margin-top: -10px;
    margin-bottom: 10px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.entry {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #eee;
    height: 44px;
}

.tab {
    width: 64px;
    float: left;
    height: 44px;
}

.tab.active {
    background: #CCC;
}

.tab span {
    font-size: 10px;
    color: #333;
    text-align: center;
    width: 64px;
    display: block;
}

.tab .img {
    background: url(../img/updates.png) no-repeat center center;
    width: 24px;
    height: 24px;
    margin: 3px 20px 0 20px;
    background-size: 20px;
}

#updates .img {
    background-image: url(../img/updates.png);
}

#deals .img {
    background-image: url(../img/deals.png);
}

#weather .img {
    background-image: url(../img/weather.png);
}

#measure .img {
    background-image: url(../img/measure.png);
}

#more .img {
    background-image: url(../img/more.png);
    background-size: 16px;
}

#deals-content, #weather-content, #measure-content, #more-content {
    display: none;
}

/* ==========================================================================
   THE RESPONSIVE STUFF
   ========================================================================== */


@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 500px) {

}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}